/* <------------body CSS-------------> */

body{
    background-color: gray
}

/* <-----------Menubar CSS-----------> */

.menubar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-top: .2rem solid #17A46E;
    border-bottom: .2rem solid #17A46E;
    background-color: #094166;
    height: auto;
}
.menubar_navigaton {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.menubar_logo {
    margin-left: 1rem;
}

.menubar_logo a {
    color: #FBB516; 
    font-style: italic;
    font-weight: 600;
    text-decoration: none;
    font-size: 2rem
}

.spacer {
    flex: 1;
}

.menubar_navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menubar_navigation-items li {
    padding: 0 0.5rem;
}

.menubar_navigation-items a {
    color:#FBB516;
    text-decoration: none;
    justify-content: right
}

.menubar_navigation-items a:hover,
.menubar_navigation-items a:active {
    color: white;
}

/* <---------HamburgerButton/menu Css------> */

.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width:30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button_line {
    width: 25px;
    height: 2px;
    background-color:#FBB516;
}

.hamburger-menu {
    height: 100%;
    background-color: #094166;
    box-shadow: 1px 0px 7px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 300px;
    z-index: 200;
    transform: translateX(-100%);
    transition: 0.3s ease-out;
}

.hamburger-menu.open{
    transform: translateX(0);
}

.hamburger-menu ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hamburger-menu li {
    margin: 0.5rem 0;
}

.hamburger-menu a {
    color: #FBB516;
    text-decoration: none;
    font-size: 1.5rem;
}

.hamburger-menu a:hover,
.hamburger-menu a:active {
    color: white
}

/* <-------------backdrop CSS------------> */

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 100;
}

/* <--------------Footer CSS--------------> */

.footer {
    width: 100%;
    border-top: .2rem solid #17A46E;
    border-bottom: .2rem solid #17A46E;
    background-color: #094166;
    height: auto;
}

.footer_logo{
    max-width: 400px;
    background-color: gray
}

.footer_navigaton {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.footer_navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    padding: 15px;
    
}

.footer-content{
    color: #FBB516
}

.footer_navigation-items li{
    list-style: none
}

.footer_navigation-items a {
    padding: 0 0.5rem;
    color: #FBB516;
    text-decoration: none;
    
}

.footer_navigation-items a:hover,
.footer_navigation-items a:active {
    color: white;
}

/* <-------------Media Queries-------------> */
@media(max-width:976px) {
    .menubar_navigation-items{
        display: none;
    }

    .footer-content{
        text-align: center;
        color: #FBB516
    }

    .footer_navigation-items{
        margin: auto;
        padding: 10px;
        text-align: center;
        
        
    }
    .footer_navigation-items li{
        padding: 3px;
    
    }
}

@media(min-width:977px) {
    .hamburger-menu{
        display: none
    }
    .hamMenu_toggle-button {
        display: none;
    }
    .menubar_logo {
        margin-left: 0;
    }

    .footer {
        display: flex;
        flex-direction: row;
        display: flex;
        justify-content: left;;
    }

    .footer-content{
        width: 50%;
        text-align: center;
    }

    .footer_navigation{
        width: 50%;
    }

    
}

